#menu {
    position: fixed;
    right: 20px;
    top: 40%;
    z-index: 10;
    list-style-type: none;
}
#menu li {
    width: 90px;
    height: 27px;
    margin-top: 7px;
    overflow: hidden;
}
#menu a {
    display: block;
    height: 27px;
    padding-right: 30px;
    line-height: 27px;
    background: url(images/dot.png) right -34px no-repeat;
    color: #fff;
    text-align: right;
    text-shadow: 1px 1px 0px #333;
    text-decoration: none;
    overflow: hidden;
}
#menu span {
    display: block;
    width: 60px;
    height: 27px;
    font-size: 12px;
    text-indent: 200px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    overflow: hidden;
}
#menu a:hover span {
    text-indent: 0;
}
#menu .active a {
    background-position: right 0;
}
.section {
    text-align: center;
    font: 18px"Microsoft Yahei";
    color: #fff;
}
.section1 {
    background: url(images/s1_bg.jpg) 50% no-repeat;
    background-size: cover;
}
.screen-main {
    position: relative;
    width: 1280px;
    height: 840px;
    margin: 0 auto;
}
.screen-main span {
    position: absolute;
}
.section2 {
    background: url(images/s2_bg.jpg) no-repeat;
    background-size: cover;
}
.science-inner {
    position: relative;
    width: 1280px;
    height: 840px;
    margin: 0 auto;
    overflow: hidden;
}
.section3 {
    background: url(images/s3_bg.jpg) no-repeat;
    background-size: cover;
}
.famous-inner {
    overflow: hidden;
    margin: 0 auto;
    width: 1200px;
    display: none;
}
.famous-inner .case-item {
    float: left;
    margin: 30px 40px;
    margin-bottom: 20px;
}
.ih-item.circle, .ih-item.circle .img {
    position: relative;
    width: 210px;
    height: 210px;
    border-radius: 50%;
}
.ih-item, .ih-item * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ih-item {
    position: relative;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
.ih-item a {
    color: #333;
}
.ih-item img {
    width: 100%;
    height: 100%;
}
.ih-item.circle .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.ih-item.circle.effect1 .spinner {
    width: 220px;
    height: 220px;
    border: 10px solid #ecab18;
    border-right-color: #1ad280;
    border-bottom-color: #1ad280;
    border-radius: 50%;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}
.ih-item.circle.effect1 .img {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 10px;
    right: 0;
    width: auto;
    height: auto;
}
.ih-item.circle .img img {
    border-radius: 50%;
}
.ih-item.circle.effect1 .info {
    top: 10px;
    bottom: 0;
    left: 10px;
    right: 0;
    background: #333;
    background: rgba(0, 0, 0, .6);
    opacity: 0;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}
.ih-item.circle.effect1 .info h3 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: 24px;
    margin: 0 30px;
    padding: 55px 0 0;
    height: 110px;
    text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, .3);
}
.ih-item.circle.effect1 .info p {
    color: #bbb;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255, 255, 255, .5);
}
.ih-item.circle.effect1 a:hover .spinner {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}
.ih-item.circle.effect1 a:hover .info {
    opacity: 1
}
/*****下一页图标动画******/

.godown {
    display: block;
    width: 50px;
    height: 53px;
    left: 615px;
    z-index: 1;
    top: -150px;
    background: url(images/godown.png) no-repeat;
    opacity: 1;
    filter: alpha(opacity=1);
    position: absolute;
    z-index: 99;
}
.godown:hover {
    -webkit-animation: fade 3s infinite linear;
    animation: fade 3s infinite linear;
}
.godown .icon {
    display: block;
    width: 50px;
    height: 53px;
}
.godown {
    /*-webkit-animation: fade 3s infinite linear; 
    animation: fade 3s infinite linear;*/
    -webkit-animation: first-down-btn 2.7s ease-in-out 0s infinite;
    -moz-animation: first-down-btn 2.7s ease-in-out 0s infinite;
}
@-webkit-keyframes 'first-down-btn' {
    0% {
        -webkit-transform: scale(0.8);
    }
    50% {
        -webkit-transform: scale(0.8);
    }
    60% {
        -webkit-transform: scale(0.95);
    }
    65% {
        -webkit-transform: scale(0.61);
    }
    70% {
        -webkit-transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(0.8);
    }
}
@-moz-keyframes first-down-btn {
    0% {
        -moz-transform: scale(0.8);
    }
    50% {
        -moz-transform: scale(0.8);
    }
    60% {
        -moz-transform: scale(0.95);
    }
    65% {
        -moz-transform: scale(0.61);
    }
    70% {
        -moz-transform: scale(0.8);
    }
    100% {
        -moz-transform: scale(0.8);
    }
}
@-webkit-keyframes 'name-in' {
    0% {
        opacity: 0;
        -webkit-transform: translate(0px, -50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
    }
}
@-moz-keyframes name-in {
    0% {
        opacity: 0;
        -moz-transform: translate(0px, -50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translate(0px, 0px);
    }
}
@-webkit-keyframes fade {
    0% {
        opacity: 1;
        width: 50px;
        height: 53px;
    }
    50% {
        opacity: 0.3;
        width: 50px;
        height: 53px;
    }
    100% {
        opacity: 1;
        width: 50px;
        height: 53px;
    }
}
@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}
/***********/

/* 第一屏动画 */

.animate-sp {
    transition: all 1s;
}
.screen-main .tu {
    width: 105px;
    height: 124px;
    left: -501px;
    top: -455px;
    z-index: 4;
    background: url(images/tu.png)
}
.screen-main .name {
    width: 578px;
    height: 113px;
    left: 1387px;
    z-index: 1;
    top: -359px;
    background: url(images/oukeye.png)
}
.screen-main .xz {
    width: 1195px;
    height: 714px;
    left: 42.5px;
    z-index: 1;
    top: 10px;
    background: url(images/xz.png) no-repeat;
    opacity: 0;
    filter: alpha(opacity=0);
}
.screen-main .profession {
    width: 363px;
    height: 45px;
    left: 463.5px;
    z-index: 1;
    top: 350px;
    background: url(images/zhiye.png) no-repeat;
    opacity: 0;
    filter: alpha(opacity=0);
}
.screen-main .show {
    opacity: 1;
    -webkit-animation: bg1-3 1.5s;
    animation: bg1-3 1.5s;
}
@-webkit-keyframes bg1-3 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bg1-3 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*第二屏动画*/

@-webkit-keyframes 'bio-text-in' {
    0% {
        -webkit-transform: translate(649px, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 0);
        opacity: 1;
    }
}
@-moz-keyframes bio-text-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes 'bio-icon-in2' {
    0% {
        margin-left: -510px;
        opacity: 0;
        -webkit-transform: rotate(-60deg);
    }
    100% {
        margin-left: 10px;
        opacity: 1;
        -webkit-transform: rotate(0deg);
    }
}
@-moz-keyframes bio-icon-in2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.science-inner a {
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    font-size: 38px;
    left: 1024px;
    top: 840px;
}
.science-inner a:hover {
    color: #c8d94a
}

.science-inner img {
    position: absolute;
    display: block;
    left: -1024px;
    top: 840px;
}
.dh {
    -webkit-animation: rotate-back 10000ms linear infinite;
    -moz-animation: rotate-back 10000ms linear infinite;
    -ms-animation: rotate-back 10000ms linear infinite;
    animation: rotate-back 10000ms linear infinite;
}
/*rotate-back*/

@keyframes "rotate-back" {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@-moz-keyframes rotate-back {
    from {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@-webkit-keyframes "rotate-back" {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@-ms-keyframes "rotate-back" {
    from {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@-o-keyframes "rotate-back" {
    from {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
.m-meteorShower {
    position: absolute;
    top: 200px;
    left: 0px;
}
.m-meteorShower .star.style1 {
    width: 20px;
    height: 20px;
    background-position: 0px -137px;
}
.m-meteorShower .star.style2 {
    width: 43px;
    height: 43px;
    background-position: -20px -137px;
}
.m-meteorShower .star.style3 {
    width: 42px;
    height: 42px;
    background-position: -63px -137px;
}
.m-meteorShower .star {
    display: block;
    position: absolute;
    width: 46px;
    height: 46px;
    background: url(images/meteor.png);
    -webkit-animation: star 1s linear infinite;
   /* -moz-animation: star 1s linear infinite;
    -ms-animation: star 1s linear infinite;
    animation: star 1s linear infinite;
    */
}

.m-meteorShower .meteor {
    display: block;
    position: absolute;
    width: 255px;
    height: 50px;
    background: url(images/meteor.png);
    -webkit-animation: meteor 1s linear infinite;
  /*  -moz-animation: meteor 1s linear infinite;
    -ms-animation: meteor 1s linear infinite;
    animation: meteor 1s linear infinite;
    */
}
.m-meteorShower .meteor.style1 {
    width: 100px;
    height: 20px;
    background-position: 0px 0px;
}
.m-meteorShower .meteor.style2 {
    width: 150px;
    height: 29px;
    background-position: 0px -20px;
}
.m-meteorShower .meteor.style3 {
    width: 200px;
    height: 39px;
    background-position: 0px -49px;
}
.m-meteorShower .meteor.style4 {
    width: 256px;
    height: 50px;
    background-position: 0px -88px;
}
@-webkit-keyframes star {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }
}
@-webkit-keyframes meteor {
    0% {
        opacity: 0;
        -webkit-transform: rotate(40deg) translateX(0px) scale(0.2);
    }
    20% {
        opacity: 0.7;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: rotate(40deg) translateX(500px) scale(1);
    }
}
