<ion-modal-view style="z-index:12">
    <ion-header-bar class=" bar-positive nav-title-slide-full">
        <div class="buttons">
            <button class="button button-clear icon-left ion-android-arrow-back" ng-click="closeActivityRegionTypeModal()"></button>
        </div>
        <h1 class="title title-center">区域选择</h1>
        <div class="buttons">
            <button class="button button-clear " ng-click="onSelectActivityRegionType()">确定</button>
        </div>
    </ion-header-bar>
    <ion-content padding="false" class="has-header no-footer" has-bouncing="false" delegate-handle="serviceTypeScroll" id="ActivityRegionTypeContent">

        <!-- <select-tabs data1='ActivityRegionTypeData' closemodal='onchangeActivityRegionType(text)' contentid="ActivityRegionTypeContent" scrollheight='{{heightSelect}}'>
          
        </select-tabs> -->
         <select-tabs4 data1='ActivityRegionTypeData'  activelabel1='selectActivityRegion.activelabel1' activelabel2='selectActivityRegion.activelabel2' activelabel3='selectActivityRegion.activelabel3' activelabel4='selectActivityRegion.activelabel4' contentid="ActivityRegionTypeContent" scrollheight='{{heightSelect}}'>
          
        </select-tabs>
    </ion-content>
</ion-modal-view>
