
<ion-view view-title="更改地址">
    <ion-nav-buttons side="left">
        <a class="button icon-left ion-android-arrow-back button-clear button-linght" ng-click="back()"></a>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-content class="light-bg has-header has-footer">
            <form name="myForm">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="常住地址" ng-model="mideApp_user.address" required>
                    </label>
                    <label class="item tips_item">
                        <div>常住的地址可以更好的让好友联系您</div>
                    </label>
                </div>
                <div class="padding">
                    <button class="button button-block button-positive" ng-click=save() ng-disabled="myForm.$invalid ">保存</button>
                </div>
            </form>
        </ion-content>
</ion-view>
