<ion-modal-view>
    <ion-header-bar class=" bar-positive nav-title-slide-full">
        <div class="buttons">
            <button class="button button-clear  icon-left ion-android-arrow-back" ng-click="closeCreateTeamModal()"></button>
        </div>
        <h1 class="title">创建团队</h1>
        <div class="buttons">
            <button class="button button-clear icon " ng-click="showCreateTeamSheet('创建')">提交</button>
        </div>
    </ion-header-bar>
    <ion-content padding="false" class="has-header no-footer" has-bouncing="true">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">团队名:</span>
                <input type="text" ng-model='createTeam.name' placeholder="请输入团队名" required>
            </label>
            <label class="item item-input">
                <span class="input-label">联系人:</span>
                <input type="text" ng-model="createTeam.linkman" placeholder="请输入联系人" required>
            </label>
            <label class="item item-input">
                <span class="input-label">电话:</span>
                <input type="tel" ng-model="createTeam.linkphone" placeholder="11位数字" maxlength='11' ng-pattern="/^[0-9]{11}$/" required>
            </label>
            <label class="item item-input">
                <span class="input-label">地址:</span>
                <input type="text" ng-model="createTeam.linkaddress" placeholder="请输入地址" required>
            </label>
           <!--  <label class="item item-input">
                <span class="input-label">服务意愿:</span>
                <input type="text" ng-model="createTeam.serviceintention" placeholder="请输入服务意愿" required>
            </label>
            <label class="item item-input">
                <span class="input-label">区域:</span>
                <input type="text" ng-model="createTeam.region" placeholder="请输入活动地点" required>
            </label> -->

             <label class="item item-input " ng-click="showTeamRegionTypeModal()">
                <span class="input-label">区域:</span>
                <span class="ng-binding ng-hide" ng-show="createTeam.region">{{createTeam.region}}</span>
                <span class="tips-info" ng-show="!createTeam.region">请选择区域</span>
                <input type="hidden" ng-model="createTeam.region" placeholder="请选择类型" required/>
            </label>
            <label class="item item-input " ng-click="showTeamServiceTypeModal()">
                <span class="input-label">服务意愿:</span>
                <span class="ng-binding ng-hide" ng-show="createTeam.serviceintention">{{createTeam.serviceintention}}</span>
                <span class="tips-info" ng-show="!createTeam.serviceintention">请选择类型</span>
                <input type="hidden" ng-model="createTeam.serviceintention" placeholder="请选择类型" required/>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">详细介绍:</span>
                <textarea placeholder="请输入您的团队详情......" ng-model="createTeam.teamaim" required></textarea>
            </label>
        </div>
    </ion-content>
</ion-modal-view>
