<ion-modal-view>
    <ion-header-bar class=" bar-positive nav-title-slide-full">
        <div class="buttons">
            <button class="button button-clear icon-left ion-android-arrow-back" ng-click="closeFeedbackModal()"></button>
        </div>
        <h1 class="title">意见反馈</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true" padding="false" class="has-header  no-footer">
        <div class="list" ng-repeat="item in items | filter:showId">
            <ion-item>
                <p>{{item.addtime}}</p>
<!--                 <p style="color:#000;font-weight:bold">{{item.title}}</p>
 -->                <p style="color:#000;white-space: pre">{{item.content}}</p>
            </ion-item>
            <ion-item ng-if="item.ReplyTime">
             <p>管理员回复:</p>
                <p>{{item.ReplyTime}}</p>
                <!-- <p style="color:#000;font-weight:bold">{{item.title}}</p> -->
                <p style="color:#000;white-space: pre">{{item.Reply}}</p>
            </ion-item>
        </div>
    </ion-content>
</ion-modal-view>
