<ion-view view-title="找回密码">
      <ion-nav-buttons side="left">
        <button class="button button-clear icon-left ion-android-arrow-back" ng-click="back()"></button>
    </ion-nav-buttons>
    <ion-content class="light-bg">
        <form name="emialForm">
            <div class="list">
                <label class="item item-input">
                    <input type="email" placeholder="账号绑定的邮箱" ng-model="myEmail" required>
                </label>
                <label class="item item-input">
                    <input type="number" placeholder="验证码" ng-model="code" required>
                </label>
                 <label class="item tips_item">
               <div>填写账号绑定的邮箱和收到的验证码</div>
            </label>
            </div>
            <div class="padding">
                 <button class="button button-block button-positive" ng-click=post() ng-disabled="emialForm.$invalid ">提交</button>
            </div>
        </form>
    </ion-content>
</ion-view>
