<ion-view view-title="找回密码">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon-left ion-android-arrow-back" ng-click="back()"></button>
    </ion-nav-buttons>
    <ion-content class="light-bg">
        <form name="emialForm">
            <div class="list">
            <label class="item item-input">
                    <i class="icon ion-ios-person placeholder-icon calm" style="font-size:24px;"></i>
                    <input type="text" placeholder="请输入账号" ng-model="forget.username" required>
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios-email placeholder-icon calm" style="font-size:24px;"></i>
                    <input type="email" placeholder="请输入账号绑定的邮箱" ng-model="forget.email" ng-pattern="/^[\w-]+(\.[\w-]+)*@[\w-]+(\.[\w-]+)+$/" required>
                </label>
                <!-- <label class="item tips_item">
                    <div>填写账号绑定的邮箱找回密码</div>
                </label> -->
            </div>
            <div class="padding">
                <button class="button button-block button-positive" ng-click=post() ng-disabled="emialForm.$invalid ">提交</button>
            </div>
        </form>
    </ion-content>
</ion-view>
