<ion-modal-view>
    <ion-header-bar class=" bar-positive nav-title-slide-full">
        <div class="buttons">
            <button class="button button-clear  icon-left ion-android-arrow-back" ng-click="closeLoginModal()"></button>
        </div>
        <h1 class="title title-center">登录</h1>
         <div class="buttons">
            <button class="button button-clear light" ng-click="gotoState('tab.reg',false)">注册</button>
        </div>
    </ion-header-bar>
    <ion-content has-bouncing="true" padding="false" class="has-header  no-footer" delegate-handle="loginScroll">
        <form name="login" ng-enter="doLogin()">
            <div class="list">
                <!--  <label class="item item-input item-avatar">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col headImg"> <img ng-src="img/commentfailure.jpg" style="width:80px;"></div>
                        <div class="col"></div>
                    </div>
                </label> -->
                <label class="item item-input"> <i class="icon ion-ios-person placeholder-icon calm" style="font-size:24px;"></i>
                    <span class="input-label">账号:</span>
                    <input type="text" ng-model="mideApp_user.username" name="username" placeholder="请输入账号" required>
                </label>
                <label class="item item-input"> <i class="icon ion-ios-locked placeholder-icon calm" style="font-size:24px;"></i>
                    <span class="input-label">密码:</span>
                    <input type="password" ng-model="mideApp_user.password" name="password" placeholder="请输入密码" required>
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" ng-click=doLogin() ng-disabled=login.$invalid>登录</button>
                <a class="button-block text-right calm" ng-click="gotoState('tab.forgetPassword',false)" >忘记密码?</a>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
