<ion-modal-view>
    <ion-header-bar class=" bar-positive nav-title-slide-full">
        <div class="buttons">
            <button class="button button-clear icon-left ion-android-arrow-back" ng-click="closeNewTopicModal()"></button>
        </div>
        <h1 class="title title-center">求助发布</h1>
        <div class="buttons">
            <button class="button button-clear icon " ng-click="showNewTopicsheet()">提交</button>
        </div>
    </ion-header-bar>
    <ion-content padding="false" class="has-header no-footer" has-bouncing="true">
         <form name='newTopicForm' >
            <div class="list css-valid-form">
                <label class="item item-input item-icon-right">
                    <span class="input-label">主题:</span>
                    <input type="text" ng-model="newTopic.title" name='title' placeholder="请输入主题" required>
                     <i class="icon ion-close-circled error_icon" ng-show='newTopicForm.title.$invalid' ></i>
                     <i class="icon ion-checkmark-circled success_icon" ng-show='!newTopicForm.title.$invalid'></i>
                </label>
       
                <label class="item item-input item-icon-right">
                    <span class="input-label">联系人:</span>
                    <input type="text" ng-model="newTopic.linkman" name="linkman" placeholder="请输入联系人" required>
                    <i class="icon ion-close-circled error_icon" ng-show='newTopicForm.linkman.$invalid' ></i>
                     <i class="icon ion-checkmark-circled success_icon" ng-show='!newTopicForm.linkman.$invalid'></i>
                </label>
                <label class="item item-input item-icon-right">
                    <span class="input-label">电话:</span>
                    <input type="tel" ng-model="newTopic.linkphone" name="linkphone" length='11' placeholder="请输入电话" placeholder="11位数字" maxlength='11' ng-pattern="/^[0-9]{11}$/" required>
                    <i class="icon ion-close-circled error_icon" ng-show='newTopicForm.linkphone.$invalid' ></i>
                     <i class="icon ion-checkmark-circled success_icon" ng-show='!newTopicForm.linkphone.$invalid'></i>
                </label>
                <label class="item item-input item-icon-right" ng-click="getDate()">
                    <span class="input-label">开始时间:</span>
                    <span class="" ng-show="mydateTime">{{mydateTime|date:"yyyy-MM-dd HH:mm"}}</span>
                    <span class="tips-info" ng-show="!mydateTime">请选择时间</span>
                    <input type="hidden" ng-model="mydateTime" name="startTime" placeholder="请选择时间" required/>
                     <i class="icon ion-close-circled error_icon" ng-show='newTopicForm.startTime.$invalid' ></i>
                     <i class="icon ion-checkmark-circled success_icon" ng-show='!newTopicForm.startTime.$invalid'></i>
                </label>
                 <label class="item item-input item-icon-right " ng-click="showRegionTypeModal()">
                    <span class="input-label">区域:</span>
                    <span class="ng-binding ng-hide" ng-show="regionType">{{regionType}}</span>
                    <span class="tips-info" ng-show="!regionType">请选择区域</span>
                    <input type="hidden" ng-model="regionType" name="regionType" placeholder="请选择类型" required/>
                     <i class="icon ion-close-circled error_icon" ng-show='newTopicForm.regionType.$invalid' ></i>
                     <i class="icon ion-checkmark-circled success_icon" ng-show='!newTopicForm.regionType.$invalid'></i>
                </label>
                <label class="item item-input item-icon-right " ng-click="showServiceTypeModal()">
                    <span class="input-label">类型:</span>
                    <span class="ng-binding ng-hide" ng-show="newTopic.serviceIntention">{{newTopic.serviceIntention}}</span>
                    <span class="tips-info" ng-show="!newTopic.serviceIntention">请选择类型</span>
                    <input type="hidden" ng-model="newTopic.serviceIntention" name="serviceIntention" placeholder="请选择类型" required/>
                     <i class="icon ion-close-circled error_icon" ng-show='newTopicForm.serviceIntention.$invalid' ></i>
                     <i class="icon ion-checkmark-circled success_icon" ng-show='!newTopicForm.serviceIntention.$invalid'></i>
                </label>
                <label class="item item-input item-icon-right" >
                    <span class="input-label">时长:</span>
                    <select class="form-control" ng-model="newTopic.duration" name="duration" ng-options=" druation.value as druation.label for druation  in   DurationData" ng-class="{'tips-info':newTopic.duration==null}" required>
                            <option value="">请选择时长</option>
                        </select>
                     <i class="icon ion-close-circled error_icon" ng-show='newTopicForm.duration.$invalid' ></i>
                     <i class="icon ion-checkmark-circled success_icon" ng-show='!newTopicForm.duration.$invalid'></i>
                </label>
                <label class="item item-input item-icon-right item-stacked-label">
                    <span class="input-label">详细:</span>
                    <textarea placeholder="请发布您的求助信息......" ng-model="newTopic.detail" name="detail" required></textarea>
                     <i class="icon ion-close-circled error_icon" ng-show='newTopicForm.detail.$invalid' ></i>
                     <i class="icon ion-checkmark-circled success_icon" ng-show='!newTopicForm.detail.$invalid'></i>
                </label>
                 <label class="item item-input item-icon-right"  ng-click="showGetImagesheet('topic')" >
                    <span class="input-label">上传图片(最多3张):</span>
                    <i class="ion ion-plus-circled" style="font-size: 30px;color: #dfe0e0;" ng-show="newTopic.images_list.length<1"></i>
                    <i class="ion ion-checkmark-circled balanced" style="font-size: 30px;" ng-show="newTopic.images_list.length>0"></i>
                </label>
                <div class="item" ng-repeat="imgObj in newTopic.images_list" >
                    <img src="{{imgObj.url}}" width="100%" ng-click="showDelectImg('{{imgObj.label}}')">
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
