<ion-header-bar class="bar-positive">
    <a class="button icon-left ion-android-arrow-back button-clear button-linght" ng-click="back()"></a>
    <h1 class="title">更改QQ号码</h1>
</ion-header-bar>
<ion-view >
    <ion-content class="light-bg  has-footer">
        <form name="myForm">
            <div class="list">
                <label class="item item-input">
                    <input type="number" placeholder="QQ号码" ng-model="mideApp_user.QQnumber" required>
                </label>
                 <label class="item tips_item">
               <div>常用的QQ可以更好的让好友联系您</div>
            </label>
            </div>
            <div class="padding">
                 <button class="button button-block button-positive" ng-click=save() ng-disabled="myForm.$invalid ">保存</button>
            </div>
        </form>
    </ion-content>
</ion-view>
