<ion-modal-view style="z-index:12">
    <ion-header-bar class=" bar-positive nav-title-slide-full">
        <div class="buttons">
            <button class="button button-clear icon-left ion-android-arrow-back" ng-click="closeRegionTypeModal()"></button>
        </div>
        <h1 class="title title-center">区域选择</h1>
        <div class="buttons">
            <button class="button button-clear " ng-click="onSelectRegionType()">确定</button>
        </div>
    </ion-header-bar>
    <ion-content padding="false" class="has-header no-footer" has-bouncing="false" delegate-handle="serviceTypeScroll" id="RegionTypeContent">

        <!-- <select-tabs4 data1='regionTypeData1' closemodal='onSelectRegion(text)' contentid="serviceTypeScroll" scrollheight='{{regionTypeHeight}}'>
          
        </select-tabs> -->

        <select-tabs4 data1='regionTypeData1'  activelabel1='selectRegion.activelabel1' activelabel2='selectRegion.activelabel2' activelabel3='selectRegion.activelabel3' activelabel4='selectRegion.activelabel4' contentid="TopicRegionTypeScroll" scrollheight='{{regionTypeHeight}}'>
          
        </select-tabs>
    </ion-content>
</ion-modal-view>
