<ion-view view-title="重置密码">
 <ion-nav-buttons side="left">
        <button class="button button-clear icon-left ion-android-arrow-back" ng-click="back()"></button>
    </ion-nav-buttons>
    <ion-content >
        <form name="myForm">
            <div class="list">
                <label class="item item-input">
                    <input type="password" placeholder="请输入新密码" name="newPassWord1" ng-model="pwd.newPassWord1" required>
                </label>
                 <label class="item item-input">
                    <input type="password" placeholder="请再输入新密码" name="newPassWord2" ng-model="pwd.newPassWord2" required>
                </label>
            </div>
            <div class="padding">
                 <button class="button button-block button-positive" ng-click=post() ng-disabled="myForm.$invalid">确定</button>
            </div>
        </form>
    </ion-content>
</ion-view>
