<ion-view view-title="网益公益">
    <ion-nav-buttons side="right">
        <button class="button  button-clear button-linght" ng-click="gotoState('tab.reg',false)" ng-if="!mideApp_user.islogin">注册</button>
    </ion-nav-buttons>
    <ion-content class="stable-bg has-tabs" has-bouncing="true" delegate-handle="accountScroll">
        <div class="list ">
            <a class="item item-avatar item-thumbnail-left item-icon-right wg-box-shadow" ng-if="!mideApp_user.islogin" ng-click="showLoginModal()">
                <img ng-src="img/commentfailure_logout.jpg" style="width:100%">
                <p ng-if="!processing" style="height:68px;line-height:68px;">立即登录</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-avatar item-thumbnail-left item-icon-right wg-box-shadow center" ng-if="mideApp_user.islogin" ng-click="showBasicInfoModal('a')" style='padding-top: 0;
    padding-bottom: 0;'>
                <img src='img/commentfailure.jpg' defaultsrc="mideApp_user._photourl"  default-img style="width:100%;top: 22px;left: 18px;" >
                <div class="row">
                    <div class="col">
                        <h2 ng-bind="mideApp_user._nickname">-</h2>
                        <p style="font-size:12px;">身份:{{mideApp_user._flagName}}</p>
                        <p style="font-size:12px;">状态:{{mideApp_user._statusName}}</p>
                        <p style="font-size:12px;">积分:{{mideApp_user._scores}}</p>
                        <p style="font-size:12px;">服务时长:{{mideApp_user._servicehours}}小时</p>
                    </div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
        <div class="list ">
            <a class="item item-icon-left item-icon-right  " ng-click="gotoState('tab.myTeam')">
                <i class="icon ion-person-stalker calm"></i>我的团队
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-icon-left item-icon-right wg-box-shadow" ng-click="gotoState('tab.myGift')">
                <i class="icon ion-ios-list calm"></i>我的礼品
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
             <a class="item item-icon-left item-icon-right  " ng-click="gotoState('tab.gift')">
                <i class="icon icon ion-ios-cart calm"></i>礼品店
                <!--  <span class="badge badge-assertive">1</span> -->
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
        <div class="list ">
            <a class="item item-icon-left item-icon-right  " ng-click="showHelpAndAskModal('ask')">
                <i class="icon ion-heart assertive"></i>求助与帮助
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-icon-left item-icon-right wg-box-shadow" ng-click="gotoState('tab.rank')">
                <i class="icon ion-podium calm"></i>荣誉排名
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
        <div class="list">
           
            <a class="item item-icon-left item-icon-right wg-box-shadow " ng-click="gotoState('tab.feedback')">
                <i class="icon ion-android-list calm"></i>意见反馈
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
        <div class="list" ng-if="mideApp_user.islogin" ng-click="showBasicInfoModal('a')">
            <div class="item  item-divider item-icon-left  ">
                <i class="icon ion-ios-gear positive"></i>个人信息
                <!-- <i class="icon ion-ios-gear-outline "></i> -->
            </div>
            <div class="item ">
                性别:
                <span class="item-note">{{mideApp_user._sex}}</span>
            </div>
            <div class="item ">
                联系电话:
                <span class="item-note">{{mideApp_user._phone}}</span>
            </div>
            <div class="item ">
                邮箱:
                <span class="item-note">{{mideApp_user._email}}</span>
            </div>
            <div class="item ">
                QQ:
                <span class="item-note">{{mideApp_user._qq}}</span>
            </div>
        </div>
        <div class="list" ng-if="mideApp_user.islogin" ng-click="showBasicInfoModal('b')">
            <div class="item ">
                国家:
                <span class="item-note">{{mideApp_user._country}}</span>
            </div>
            <div class="item ">
                省份:
                <span class="item-note">{{mideApp_user._province}}</span>
            </div>
            <div class="item ">
                城市:
                <span class="item-note">{{mideApp_user._city}}</span>
            </div>
            <div class="item ">
                县市区:
                <span class="item-note">{{mideApp_user._district}}</span>
            </div>
             <div class="item ">
                镇:
                <span class="item-note">{{mideApp_user._town}}</span>
            </div>
            <div class="item ">
                社区:
                <span class="item-note">{{mideApp_user._community}}</span>
            </div>
            <div class="item ">
                身份证号:
                <span class="item-note">{{mideApp_user._personalid}}</span>
            </div>
             <div class="item ">
                生日日期:
                <span class="item-note">{{mideApp_user._birthday |date:"yyyy-MM-dd"}}</span>
            </div>
            <div class="item ">
                常住地址:
                <span class="item-note">{{mideApp_user._address}}</span>
            </div>
            <div class="item ">
                微信号码:
                <span class="item-note">{{mideApp_user._wechat}}</span>
            </div>
        </div>
        <div class="list" ng-if="mideApp_user.islogin" ng-click="showBasicInfoModal('c')">
            <div class="item ">
                学历:
                <span class="item-note">{{mideApp_user._education}}</span>
            </div>
            <div class="item ">
                专业:
                <span class="item-note">{{mideApp_user._major}}</span>
            </div>
            <div class="item ">
                特长:
                <span class="item-note">{{mideApp_user._specialskill}}</span>
            </div>
            <div class="item ">
                选择服务意愿:
                <span class="item-note">{{mideApp_user._serviceintention}}</span>
            </div>
            <div class="item ">
                选择服务时间:
                <span class="item-note">{{mideApp_user._servicetimeinterval}}</span>
            </div>
        </div>
        <div class="list  wg-logoutBtn padding" ng-if="mideApp_user.islogin">
            <button class="button button-block button-outline button-positive" ng-click="logout()">
                退出登录
            </button>
        </div>
    </ion-content>
</ion-view>
