<ion-modal-view class="transparent_bg_modal">
    <!-- <ion-header-bar class=" bar-positive nav-title-slide-full">
        <div class="buttons">
            <button class="button button-clear  icon-left ion-android-close" on-tap="closeBuyModal()"></button>
        </div>
        <h1 class="title title-center">登录</h1>
        <div class="buttons">
            <button class="button button-clear light" on-tap="gotoState('tab.reg',false)">注册</button>
        </div>
    </ion-header-bar> -->
    <ion-content has-bouncing="false" padding="false" class="padding center_h no-footer" delegate-handle="captchaScroll">
        <div class="captcha" id="captcha_content">
           
        </div>
    </ion-content>
</ion-modal-view>
