<ion-modal-view class="transparent_bg_modal dealhistory-detail-view ">
    <ion-header-bar class=" bar-energized nav-title-slide-full">
        <h1 class="title title-center">订单详情</h1>
        <div class="buttons">
            <a class="button button-icon icon ion-ios-close-empty light" on-tap="closeDealhistoryDetailModal()"></a>
        </div>
    </ion-header-bar>
    <ion-content class="dark-bg has-header" has-bouncing="false" delegate-handle="orderHistoryDetailScroll">
        <div class="list">
            <div class="item productsName">
                <span>产品:</span><span class="value">{{products[currontDealhistory.contractCode].name}}</span>
                <div class="userTicket" ng-if="currontDealhistory.usedTicket ">
                    <div class="valueTicket">{{Tickets[currontDealhistory.usedTicketId].displayValue}}元</div>
                    <div class="countTicket">已使用体验券({{currontDealhistory.usedTicketCount}})</div>
                </div>
            </div>
            <div class="item">
                <span class="label">订单号:</span><span class="value">{{currontDealhistory.id}}</span>
            </div>
            <div class="item">
                <span class="label">建仓时间:</span><span class="value">{{date(currontDealhistory.buyingDate) }}</span>
            </div>
            <div class="item">
                <span class="label">平仓时间:</span><span class="value">{{date(currontDealhistory.sellingDate)}}</span>
            </div>
        </div>
        <div class="list">
            <div class="item">
                <span class="label">方向:</span><span class="value">{{currontDealhistory.dealDirection}}</span>
            </div>
            <div class="item">
                <span class="label">入仓价:</span><span class="value">{{currontDealhistory.buyingRate }}</span>
            </div>
            <div class="item">
                <span class="label">平仓价:</span><span class="value">{{currontDealhistory.sellingRate }}</span>
            </div>
        </div>
        <div class="list">
            <div class="item">
                <span class="label">入仓支付金额:</span><span class="value">{{currontDealhistory.payAmount}}元</span>
            </div>
            <div class="item">
                <span class="label">入仓手续费:</span><span class="value">{{currontDealhistory.handingChargeAmount}}元</span>
            </div>
            <div class="item profitAndLoss">
                <span class="label">盈亏金额:</span><span class="value" ng-class="{up:currontDealhistory.profitAndLoss >=0,down:currontDealhistory.profitAndLoss <0}">{{currontDealhistory.profitAndLoss }}元</span>
            </div>
        </div>
        <div class="list">
            <div class="item">
                <span class="label">平仓收入金额:</span><span class="value">{{currontDealhistory.sellingIncome}}元</span>
            </div>
            <div class="item">
                <span class="label">本单实际盈亏:</span><span class="value">{{currontDealhistory.profit}}元</span>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
