<ion-modal-view class="transparent_bg_modal">
    <!-- <ion-header-bar class=" bar-positive nav-title-slide-full">
        <div class="buttons">
            <button class="button button-clear  icon-left ion-android-close" on-tap="closeBuyModal()"></button>
        </div>
        <h1 class="title title-center">登录</h1>
        <div class="buttons">
            <button class="button button-clear light" on-tap="gotoState('tab.reg',false)">注册</button>
        </div>
    </ion-header-bar> -->
    <ion-content has-bouncing="false" padding="false" class="padding no-footer" delegate-handle="loginScroll">
        <div class="loginTips_box">
            <div class=" list loginTips">
                <div class="icon"></div>
                <label class="item tips_text">
                    <div class="text-center">新用户请点击下方按钮进行注册</div>
                    
                </label>
                <label class="item goReg_btn button button-energized" on-tap="goState(LoginTipsModal,'tab.register')" >
                    注册
                </label>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
