<ion-modal-view class="transparent_bg_modal news-detail-view ">
    <ion-header-bar class=" bar-energized nav-title-slide-full">
        <h1 class="title title-center">公告</h1>
        <div class="buttons" ng-if="!isReading">
            <a class="button button-icon icon ion-ios-close-empty light" on-tap="closeNewsDetailModal()"></a>
        </div>
    </ion-header-bar>
    <ion-content class="dark-bg has-header padding" has-bouncing="false" delegate-handle="newsDetailScroll">
        <div class="title" ng-bind="currontNews.title"></div>
        <div class="news_content" ng-bind-html="currontNews.content ">
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-newsReading" ng-if="isReading">
        <button class="button button-block button-energized"  on-tap="nextNews()" >
            {{nextName}}
        </button>
    </ion-footer-bar>
</ion-modal-view>
