<ion-modal-view class="transparent_bg_modal">
    <!--  <ion-header-bar class=" bar-positive nav-title-slide-full">
       <div class="buttons">
           <button class="button button-clear icon-left ion-android-arrow-back" on-tap="closeOrdersModal()"></button>
       </div>
       <h1 class="title title-center">建仓</h1>
       <div class="buttons">
           <button class="button button-clear icon " on-tap="showNewTopicsheet()">提交</button>
       </div>
   </ion-header-bar> -->
    <ion-content class="no-header no-footer center_h  padding  " has-bouncing="true">
        <div class="modal_box order_box">
            <div class=" list ">
                <label class="item item-input row modal_title">
                    <div class="col text-left title_text">￥{{(currentOrder.margin*currentOrder.buyCount+currentOrder.margin*currentOrder.ticketCount).toFixed(2)}}</div>
                    <div class="col text-right" >
                        建仓价:<span ng-class="Price[currentContract.index].priceStatus" ng-bind="Price[currentContract.index].data[0]" ></span>
                    </div>
                </label>
                <label class="item item-input item-icon-right  row modal_subtitle">
                    <div class="col text-left">手续费:{{(currentOrder.handingCharge*currentOrder.buyCount).toFixed(2) }}元</div>
                    <div class="col text-center" on-tap="showTypesheet()">方向:{{ordertype(currentOrder.type)}}</div>
                    <div class="col text-right">规格:{{currentOrder.name}}</div>
                </label>
                <div class="list modal_content">
                    <label class="item item-input row">
                        <span class="col input-label buyCountLabel">选择数量(手)</span>
                    </label>
                    <label class="item item-input  row_input-number">
                        <input-number init="initBuyCount" max="{{currentOrder.dealLimit}}" min="1" step="1" editable="true" minus="minusBuyCount()" plus="plusBuyCount()" data="currentOrder.buyCount"></input-number>
                    </label>
                    <label class="item item-input row">
                        <div class="col input-label text-left ticketLabel">使用体验券(张)</div>
                        <div class="col input-label text-right ticketInfo">您有({{currentOrder.countTicketsUse}})张体验券</div>
                    </label>
                    <label class="item item-input  row_input-number">
                        <input-number init="initTicketCount" max="{{currentOrder.dealLimit}}" min="1" step="1" editable="true" minus="minusTicketCount()" plus="plusTicketCount()" data="currentOrder.ticketCount"></input-number>
                    </label>
                </div>
                <label class="modal_footer ">
                </label>
                <!-- <label class="item  buy_btn button button-light" >
                    购买
                </label> -->
                <div class=" button-bar">
                    <a class="button cancel_btn" on-tap="closeOrdersModal()">取消</a>
                    <a class="button buy_btn" on-tap="buy()">建仓</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
