<ion-view view-title="修改密码" class="password-view" hide-tabs>
    <ion-nav-bar class="bar-energized">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-ios-arrow-left light" on-tap="goBack()"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="dark-bg" has-bouncing="false" delegate-handle="accountScroll">
        <form name="updatePwdForm">
            <div class="list has_bg_list">
                <label class="item item-input item-dark">
                    <input type="password" class="has_bg_input" placeholder="输入旧密码" ng-model="pwd.oldPwd" required>
                </label>
                <label class="item item-input item-dark">
                    <input type="password" class="has_bg_input" placeholder="输入新密码" ng-model="pwd.newPwd"
                     ng-pattern="reg" required>
                </label>
                <label class="item item-input item-dark">
                    <input type="password" class="has_bg_input" placeholder="重复新密码" ng-model="pwd.reNewPwd" 
                     ng-pattern="reg" required>
                </label>
            </div>
            <div class="padding">
                <span class="pwdTips">为保障用户资金安全，用户密码必须是8-16位英文字母、数字、字符组合（不能是纯数字）</span>
            </div>
            <div class="padding">
                <button class="button button-block button-energized" on-tap="updatePwd()"  ng-disabled=updatePwdForm.$invalid>确定</button>
            </div>
        </form>
    </ion-content>
</ion-view>
