<ion-slide-box does-continue="true" width-proportion='0.92' on-slide-changed="_changed($index)">
    <ion-slide on-tap="onTap()" ng-repeat="item in contracts" class="contracts">
        <div class="box" ng-show='item.product.length'>
            <div ng-repeat="item_p in item.product track by $index" class="product_item product_item{{$index}}" style="height:{{setHegith(item.product)}}px;">
                <div class="product_info">
                    <div class="name">
                        <span>{{item_p.name}}</span>
                    </div>
                    <div class="yk">
                        <span>波动盈亏:{{item_p.plRate}}元</span>
                    </div>
                    <div class="buy_up" on-tap="buy({item:item_p,type:'UP'})">买涨</div>
                    <div class="buy_down" on-tap="buy({item:item_p,type:'DROP'})">买跌</div>
                </div>
            </div>
        </div>
        <div class="product_retry" ng-show="!item.product.length">
            <a class="button button-outline button-small icon-left ion-ios-reload retry_btn" on-tap="getContracts()">重新获取</a>
        </div>
    </ion-slide>
</ion-slide-box>
