<ion-view view-title="粤国际微盘" class="position-view">
    <ion-content class="dark-bg ">
        <div class="storage_list list">
            <div class="storage_item item" ng-repeat="storage in Storages.content track by $index">
                <div class="info-wrap" on-tap="showPositionDetailModal(storage)">
                    <div class="yk" ng-show="!Storages_CalPro[storage.id].data">
                        <span class="icon ion-load-c"></span>
                    </div>
                    
                    <div class="yk" ng-class="Storages_CalPro[storage.id].status" ng-bind="Storages_CalPro[storage.id].data" ng-show="Storages_CalPro[storage.id].data">-</div>
                    <div class="price_bar" ng-class="Price[products[storage.contractCode].dataType].priceStatus">
                        <span class="label">行情</span>
                        <span class="price">
                        <i></i>
                        <em ng-bind="Price[products[storage.contractCode].dataType].data[0]">-</em>
                      </span>
                    </div>
                    <div class="storage_info">
                        <span class="type">{{storage.dealCount+storage.usedTicketCount}}手{{ordertype(storage.dealDirection) }}</span>
                        <span class="name">规格:{{products[storage.contractCode].name}}</span>
                        <span class="buyrate">建仓价:<em>{{storage.buyingRate}}</em></span>
                    </div>
                </div>
                <div class="btn-wrap">
                    <div class="sell-btn" on-tap="tapSale(products[storage.contractCode].name,storage.id)">平仓</div>
                </div>
            </div>
            <div class="emptyTips" ng-if="0==Storages.content.length">您没有持仓</div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-allCalPro">
      <h1 class="title">总盈亏:{{Storages_CalPro['all'].data}}</h1>
    </ion-footer-bar>
</ion-view>
