<ion-view view-title="粤国际微盘" class="home-view">
    <div class="bar bar-header info_bar" id="home_header">
        <div class="bar_networkTips {{offline.state}}" id="networkTips">
            <div class="title"><i class="icon ion-android-alert"></i>网络不可以用,请检查当前网络</div>
        </div>
        <button class=" button button-small button-default charge_btn" on-tap="goCharge()">
            充值
        </button>
        <!-- <button class=" button button-small  button-clear button-light" >  -->
        <button class="button icon-left  button-clear button-light amount" ng-class="{'ion-ios-reload':!Customer.money}" on-tap="doRefreshMoney()">
            ￥{{Customer.money.amount}}
        </button>
        <a class="button button-small  button-clear button-energized tickets" on-tap="doRefreshMoney()">体验券({{Customer.tickets.length}})</a>
        <!--  <div class="h1 title">￥0.00</div> -->
        <!-- <div class="info_bar">
           
        </div> -->
    </div>
    <ion-content class="home-bg has-header" id="home-bg" has-bouncing="false" delegate-handle="homeScroll">
        <div class="price_bar" id="price_bar">
            <div class="row">
                <div class="col col-50 contact " ng-class="Price[currentContract.index].priceStatus">
                    <span class="contact_name" ng-bind="currentContract.name">-</span>
                    <span ng-show="Price[currentContract.index].data[5]=='false'">休市</span>
                    <span class="new_price" ng-show="Price[currentContract.index].data[5]=='true'" ng-bind="Price[currentContract.index].data[0]">-</span>
                    <span class="price_icon ion-arrow-{{Price[currentContract.index].priceStatus}}-a" ng-show="Price[currentContract.index].data[5]=='true'"></span>
                </div>
                <div class="col col-25">
                    <div class="highest">最高:
                        <span ng-show="Price[currentContract.index].data[5]=='true'" ng-bind="Price[currentContract.index].data[3]">-</span>
                        <span ng-show="Price[currentContract.index].data[5]=='false'">-</span>
                    </div>
                    <div class="lowest ">最低:
                        <span ng-show="Price[currentContract.index].data[5]=='true'" ng-bind="Price[currentContract.index].data[4]">-</span>
                        <span ng-show="Price[currentContract.index].data[5]=='false'">-</span>
                    </div>
                </div>
                <div class="col col-25">
                    <div class="yesterday">昨收:
                        <span ng-show="Price[currentContract.index].data[5]=='true'" ng-bind="Price[currentContract.index].data[2]">-</span>
                        <span ng-show="Price[currentContract.index].data[5]=='false'">-</span>
                    </div>
                    <div class="today">今开:
                        <span ng-show="Price[currentContract.index].data[5]=='true'" ng-bind="Price[currentContract.index].data[1]">-</span>
                        <span ng-show="Price[currentContract.index].data[5]=='false'">-</span>
                    </div>
                </div>
            </div>
        </div>
        <echarts class="echarts_box" url="kDataUrl" show-tips="echartConfig.showTips" show-retry="echartConfig.showRetry" loading='echartConfig.loading' type='currentObj.type' updatechart="updatEchart(chart,type, success, error)"></echarts>
        <product-slide class="product_content" contracts="Contracts" changed="changed(index)" buy="showOrdersModal(item,type)"></product-slide>
    </ion-content>
</ion-view>
