<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-calm  menuTabs " id="tabs" ng-class="{'tabs-item-hide': $root.hideTabs}">

  <!-- Dashboard Tab -->
  <ion-tab title="首页" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="持仓单" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/position" badge ="Storages.content.length" badge-style="badge-assertive" class="border_badge">
    <ion-nav-view name="tab-position"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="个人中心" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
