<ion-view view-title="体验券" class="tickets-view" hide-tabs>
    <ion-nav-bar class="bar-energized">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-ios-arrow-left light" on-tap="goBack()"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="dark-bg" has-bouncing="false" delegate-handle="dealhistoryScroll">
        <ion-refresher pulling-text="下拉刷新..." spinner="ios" on-refresh="doRefresh()" class="wg_spinner">
        </ion-refresher>
        <div class=" list " ng-if="0<Customer.tickets.length">
            <div class="item " ng-repeat="item in Customer.tickets track by item.id">
                <div class="tickets" ng-style="itemStyle">
                    <div class="displayValue">{{Tickets[item.ticketId].displayValue}}元体验券 </div>
                    <div class="lastUseTime">有效期 {{ date(item.lastUseTime)}}</div>
                </div>
            </div>
        </div>
        <div class="emptyTips" ng-if="0==Customer.tickets.length ">暂无数据</div>
        <ion-infinite-scroll on-infinite="infinite()" distance="1%" ng-if="!Customer.money && 0==Customer.tickets.length" spinner="ios" class="wg_spinner"></ion-infinite-scroll>
    </ion-content>
</ion-view>
