<ion-view view-title="交易规则" class="tradingRules-view" hide-tabs>
    <ion-nav-bar class="bar-energized">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-ios-arrow-left light" on-tap="goBack()"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="dark-bg" has-bouncing="false" delegate-handle="NewsScroll">
        <div class="row">
            <div class="col the_rules ">
                <a href="http://minitest.gdiex.com/news/detail/1" class="rules_image"></a>
                <p>产品规则介绍</p>
            </div>
            <div class="col account ">
                <a href="http://minitest.gdiex.com/news/detail/2" class="rules_image"></a>
                <p>帐号绑定注册</p>
            </div>
        </div>
        
    </ion-content>
</ion-view>
