<ion-view view-title="提现" class="withdrawal-view" hide-tabs>
    <ion-nav-bar class="bar-energized">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-ios-arrow-left light" on-tap="goBack()"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="dark-bg" has-bouncing="false" delegate-handle="withdrawalScroll">
        <form name="withdrawalForm">
            <div class="list withdrawal has_bg_list">
                <div class="item ">
                    <div class="amount">
                        <span class="label">可提现金额:</span>
                        <span class="value">{{withdrawal.withdrawMoney}}</span>
                    </div>
                </div>
                <label class="item item-input inputMoney ">
                    <input type="text" class="has_bg_input" placeholder="输入提现金额" ng-model="withdrawal.money" ng-keyup="changeInput()" ng-blur="checkMoney()" ng-pattern="moneyReg" required>
                </label>
                <span class="list_tips withdrawalTips">(每笔钱至少10元;<span ng-if="!withdrawal.handAmountSwitch">每笔收取2元手续费</span>)</span>
                <span class="list_tips bindCartTips">提现成功后将自动绑定银行卡</span>
                <div class="list ">
                    <div class="item item-icon-left bankName " on-tap="selectBbankName()">
                        <i class="icon"></i>
                        <div class="info">
                            <div class="label">银行信息</div>
                            <input type="text" class="value" placeholder="请输入银行" disabled="disabled" ng-model="withdrawal.bankName" required>
                        </div>
                    </div>
                    <div class="item item-icon-left provice " on-tap="selectProvince()">
                        <i class="icon"></i>
                        <div class="info">
                            <div class="label">省份</div>
                            <input type="text" class="value" placeholder="请输入省份" disabled="disabled" ng-model="withdrawal.province" required>
                        </div>
                    </div>
                    <div class="item item-icon-left city " on-tap="selectCity()">
                        <i class="icon"></i>
                        <div class="info">
                            <div class="label">城市</div>
                            <input type="text" class="value" placeholder="请输入城市" disabled="disabled" ng-model="withdrawal.city" required>
                        </div>
                    </div>
                    <div class="item item-icon-left branch " on-tap="selectBranch()">
                        <i class="icon"></i>
                        <div class="info">
                            <div class="label">银行支行</div>
                            <input type="text" class="value" placeholder="请输入银行支行" disabled="disabled" ng-model="withdrawal.blankBranch" required>
                        </div>
                    </div>
                    <div class="item item-icon-left bankNumber " on-tap="selectBlankCardNum()">
                        <i class="icon"></i>
                        <div class="info">
                            <div class="label">银行卡号</div>
                            <input type="text" class="value" placeholder="请输入银行卡号" disabled="disabled" ng-model="withdrawal.blankCardNum" required>
                        </div>
                    </div>
                    <div class="item item-icon-left blankUseName " on-tap="selectBlankUseName()">
                        <i class="icon"></i>
                        <div class="info">
                            <div class="label">姓名</div>
                            <input type="text" class="value" placeholder="请输入持卡人姓名" disabled="disabled" ng-model="withdrawal.blankUseName" required>
                        </div>
                    </div>
                </div>
                <div class="withdrawalBtn">
                    <button class="button button-block button-energized" on-tap="checkPassword()" ng-disabled=withdrawalForm.$invalid>
                        提现
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
