<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection"content="telephone=no, email=no" />
  <title>阿里搜素排名查询</title>
  <link rel="stylesheet" href="css/application.css" type="text/css" charset="utf-8">
<!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <![endif]-->
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="http://90-designer.com/statics/css/v3/fontello-ie7.css">
  <![endif]-->
</head>
<body>
<header id="header" class="header fixed-top"><h1>阿里搜素排名查询</h1><span class="developer">开发者OKY:QQ491238861</span></header>
  <article id="article"></article>
</body>
  <script src="js/lib/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/lib/underscore.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/lib/backbone.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="js/utf2gb2312.js"></script>
  <script type="text/javascript" src="js/layer-v1.8.5/layer/layer.min.js"></script>
  <script src="js/application.js?v=2015-03-16" type="text/javascript" charset="utf-8"></script>

  <!-- 联系人 -->
  <script type="text/template" id="tpl-item">

      <span><%= page %></span>
  <span><a href="http://detail.1688.com/offer/<%= offerid %>.html" target="_blank"><%= offerid %></a></span>
  <span><a href="<%= companyid %>" target="_blank"><%= companyName %></a></span>
  </script>

  <!-- 左边的侧边条，包括联系人列表 -->
  <script type="text/template" id="tpl-sidebar">
    <header>
      <input type="search" placeholder="搜索" results="0" incremental="true" autofocus id="search">
    </header>
    <div class="items"></div>
    <footer>
    <input type="text" class="search_keyword" placeholder="输入关键词" results="0" incremental="true" autofocus>
      <button>查询</button>
    </footer>
  </script>

  <!-- 显示联系人详细信息 -->
  <script type="text/template" id="tpl-show">
    <header>
      <a class="edit">编辑</a>
    </header>
    <div class="content">
      <p><label>姓名：<%= name %></label></p>
      <p><label>邮箱：<%= email %></label></p>
    </div>
  </script>
  
  <!-- 编辑联系人信息 -->
  <script type="text/template" id="tpl-edit">
    <header>
      <a class="save">保存</a>
      <a class="delete">删除</a>
    </header>
    <div class="content">
      <form>
        <label>
          <span>姓名：</span>
          <input type="text" name="name" value="<%= name %>">
        </label>
        <label>
          <span>邮箱：</span>
          <input type="email" name="email" value="<%= email %>">
        </label>  
        <button>保存</button>
      </form>
    </div>
  </script>
</html>
