<ion-modal-view class="orders_modal">
    <!--  <ion-header-bar class=" bar-positive nav-title-slide-full">
       <div class="buttons">
           <button class="button button-clear icon-left ion-android-arrow-back" ng-click="closeOrdersModal()"></button>
       </div>
       <h1 class="title title-center">建仓</h1>
       <div class="buttons">
           <button class="button button-clear icon " ng-click="showNewTopicsheet()">提交</button>
       </div>
   </ion-header-bar> -->
    <ion-content class="no-header no-footer center_h  padding  " has-bouncing="true">
        <form name='newTopicForm'>
            <div class=" list ">
                <label class="item item-input row order_title">
                    <div class="col text-left moneyIcon">￥1200</div>
                    <div class="col text-right">
                        <button class="button button-clear colse_btn" on-touch="closeOrdersModal()">
                            <i class="icon ion-ios-close-outline dark"></i>
                        </button>
                    </div>
                </label>
                <label class="item item-input item-icon-right  row order_subtitle">
                    <div class="col text-left">手续费:42元</div>
                    <div class="col text-center">方向:多</div>
                    <div class="col text-right">规格:10g</div>
                </label>
                <ion-slide-box class="slidebox item last_item" on-slide-changed="changeSetting($index)" auto-play="false" delegate-handle="buy_order">
                    <div class="slider-slide">
                        <div class="list">
                            <label class="item item-input row">
                                <span class="input-label">选择数量(手)</span>
                            </label>
                            <label class="item item-input  row_input-number">
                                <input-number max="10" min="1" buycount="1"></input-number>
                            </label>
                            <label class="item item-input row">
                                <span class="input-label">使用体验券(张)</span>
                            </label>
                            <label class="item item-input  row_input-number">
                                <input-number max="10" min="0" buycount="0"></input-number>
                            </label>
                            <label class="item item-input row tips_item"  on-touch="slideTo(1)">
                                <div class="row buy_tips right">
                                    <i class="icon ion-ios-gear"></i>
                                    <span class="col text-left">止盈:0%</span>
                                    <span class="col text-right">止损:0%</span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="slider-slide">
                        <div class="list">
                            <label class="item item-input row">
                                <span class="input-label">设置止盈(%)</span>
                            </label>
                            <label class="item item-input  row_input-number">
                                <input-number max="100" min="0" buycount="0"></input-number>
                            </label>
                            <label class="item item-input row">
                                <span class="input-label">设置止损(%)</span>
                            </label>
                            <label class="item item-input  row_input-number">
                                <input-number max="100" min="0" buycount="0"></input-number>
                            </label>
                            <label class="item item-input tips_item" on-touch="slideTo(0)">
                                <div class="row buy_tips left">
                                    <i class="icon ion-ios-gear"></i>
                                    <span class="col text-left">数量:1手</span>
                                    <span class="col text-right">用券:0张</span>
                                </div>
                            </label>
                        </div>
                    </div>
                </ion-slide-box>
                <label class="item  buy_btn button button-light" ng-click="showGetImagesheet('topic')">
                    购买
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
