<ion-view view-title="微盘">
   
    <ion-content class=" has-tabs royal-bg" delegate-handle="mainScroll">
        <div class="list">
            <label class="item item_wp button_recharge_line" >
                <span class="item-note text_wp">￥{{currentProduct.currentCartIndex}}</span>
                <button class="button button-small  item-note  button_wp button_recharge">充值</button>
                <!-- <input type="text" placeholder="微信号码" ng-model="mideApp_user.weixinNumber" required> -->
            </label>
            <label class="item item_wp price_wrap">
                <div class="row price_detail">
                    <div class="col price_left {{newprice.XAG1.changeType}} {{newprice.XAG1.showBorder}}">
                        <span class="price_name">{{currentProduct.name}}</span>
                        <span class="price_value {{newprice.XAG1.changeType}}"><i class="icon ion-arrow-up-b "></i><i class="icon ion-arrow-down-b "></i>{{newprice.XAG1.newPrice}}</span>
                    </div>
                    <div class="col price_right">
                        <div class="row">
                            <div class="col">最高:40098</div>
                            <div class="col">昨收:40098</div>
                        </div>
                        <dov class="row">
                            <div class="col">最低:40098</div>
                            <div class="col">今开:40098</div>
                        </dov>
                    </div>
                </div>
                <div id="kLine" style="height:{{chart_Height}}px;"></div>
            </label>
            <lable class="item item_wp button_line" style="padding:0;">
                <div class="row">
                    <div class="col text-center " ng-click="changeSJ(1)" ng-class="{1:'active'}[currentProduct.clickSj]">分时线</div>
                    <div class="col text-center" ng-click="changeSJ(5)" ng-class="{5:'active'}[currentProduct.clickSj]">5分钟</div>
                    <div class="col text-center" ng-click="changeSJ(15)" ng-class="{15:'active'}[currentProduct.clickSj]">15分钟</div>
                    <div class="col text-center" ng-click="changeSJ(30)" ng-class="{30:'active'}[currentProduct.clickSj]">30分钟</div>
                    <div class="col text-center" ng-click="changeSJ(60)" ng-class="{60:'active'}[currentProduct.clickSj]">1小时</div>
                </div>
            </lable>
        </div>
        <div class="product">
            <ion-slide-box class="slidebox fadeInDown"  on-slide-changed="changeCallBack($index)" auto-play="false"  does-continue="true" delegate-handle="productCart">
                <div class="slider-slide" ng-repeat="item in protuct">
                    <div class="row slide_box" >
                        <div class="col product_box" >
                            <div class="text-center price_info">100元/手</div>
                            <div class="text-center productType_info">150g粤银</div>
                            <div class="text-center yingku_info">浮动盈亏:010元</div>
                            <div class="row buy_btn_line">
                                <div class="col text-center">买涨</div>
                                <div class="col text-center">买跌</div>
                            </div>
                        </div>
                        <div class="col product_box">
                            <div class="text-center price_info">100元/手</div>
                            <div class="text-center productType_info">150g粤银</div>
                            <div class="text-center yingku_info">浮动盈亏:010元</div>
                            <div class="row buy_btn_line">
                                <div class="col text-center">买涨</div>
                                <div class="col text-center">买跌</div>
                            </div>
                        </div>
                    </div>
                </div>

            </ion-slide-box>
        </div>
        </div>
    </ion-content>
</ion-view>
