<ion-tabs class="tabs-icon-top  tabs-color-positive tabs-background-dark {{hideTabs}}" ng-class="tabsHidden2">
    <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home-outline" href="#/tab/topics">
        <ion-nav-view name="tab-topics"></ion-nav-view>
    </ion-tab>
    <ion-tab title="持仓单" icon-off="ion-ios-people-outline" icon-on="ion-ios-people-outline" href="#/tab/activity">
        <ion-nav-view name="tab-activity"></ion-nav-view>
    </ion-tab>
    <ion-tab title="个人设置" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble-outline" href="#/tab/chats">
        <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>
</ion-tabs>
