<ion-modal-view>
    <ion-header-bar class=" bar-positive nav-title-slide-full">
        <div class="buttons">
            <button class="button button-clear" ng-click="closeGiftModal()">关闭</button>
        </div>
        <h1 class="title">礼品店</h1>
    </ion-header-bar>
    <ion-content class="padding  no-footer" has-bouncing="true">
        <div ng-repeat="gift in gifts | filter:giftShowId">
            <div class="row row-center ">
                <div class="col col-50 ">
                    <img ng-src="{{gift.img}} " style="width:100% ">
                </div>
                <div class="col ">
                    <div class="row ">
                        <div class="col ">{{gift.id}}</div>
                    </div>
                    <div class="row ">
                        <div class="col ">{{gift.name}}</div>
                    </div>
                    <div class="row ">
                        <div class="col ">{{gift.lastText}}</div>
                    </div>
                </div>
            </div>
            <div class="item item-body ">
                <h3>说明:</h3>
                <p>
                    This is a "Facebook " styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
                </p>
            </div>
            <button class="button button-block button-positive " ng-click="showGiftsheet('兑换') ">
                确认兑换
            </button>
        </div>
    </ion-content>
</ion-modal-view>
