<ion-header-bar class="bar-positive">
    <a class="button icon-left ion-ios-arrow-left button-clear button-linght" ng-click="back()"></a>
    <h1 class="title">更改身份证号码</h1>
    <a class="button button-clear button-linght" ng-click="doSomething()">
            保存</a>
</ion-header-bar>
<ion-view>
    <ion-content class="light-bg has-header  has-footer">
     <form name="myForm">
        <div class="list">
            <label class="item item-input">
                <input type="number" placeholder="身份证号码" ng-model="mideApp_user.identity" required>
            </label>
             <label class="item tips_item">
               <div>准确的身份证号码可以更方便的做公益</div>
            </label>
        </div>
        <div class="padding">
                 <button class="button button-block button-positive" ng-click=save() ng-disabled="myForm.$invalid ">保存</button>
            </div>
        </form>
    </ion-content>
</ion-view>
