<ion-header-bar class="bar-positive">
    <a class="button icon-left ion-ios-arrow-left button-clear button-linght" ng-click="back()"></a>
    <h1 class="title">登录</h1>
    <a class="button  button-clear button-linght" ui-sref="reg">注册</a>
</ion-header-bar>
<ion-view >
    <ion-content class=' has-footer'>
        <form name="login" ng-enter="doLogin()">
            <div class="list">
                <!--  <label class="item item-input item-avatar">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col headImg"> <img ng-src="img/commentfailure.jpg" style="width:80px;"></div>
                        <div class="col"></div>
                    </div>
                </label> -->
                <label class="item item-input">
                    <span class="input-label">账号:</span>
                    <input type="text" ng-model="mideApp_user.username" name="username" placeholder="请输入账号" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">密码:</span>
                    <input type="password" ng-model="mideApp_user.password" name="password" placeholder="请输入密码" required>
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" ng-click=doLogin() ng-disabled=login.$invalid>登录</button>
                <a class="button-block text-right calm" ui-sref="forgetPassword">忘记密码?</a>
            </div>
        </form>
    </ion-content>
</ion-view>
