<ion-view>
    <ion-content class="has-subheader" has-bouncing="true">
    <ion-refresher pulling-text="下拉刷新..." spinner="spiral" on-refresh="doRefresh()" class="wg_spinner">
        </ion-refresher>
       <div class=" list topics">
            <!--    <div class="item item-divider">求助列表</div> -->
            <div class="item item-avatar" collection-repeat="topic in AskConfig.myAsk"  collection-item-width="'100%'" collection-item-height="65px" ng-click="showTopicModal(topic.id)">
                <img ng-src="{{topic.author.avatar_url|avatarFilter}}" reset-img>
                <!-- reset-img   -->
                <h2>{{topic.title}}</h2>
               
                <p class="summary">
               
                    <span ng-if="topic.status==1" class="tab status1">求助中</span>
                    <span ng-if="topic.status==2" class="tab status2">已承接</span>
                    <span ng-if="topic.status==3" class="tab status3">帮助中</span>
                    <span ng-if="topic.status==4" class="tab status4">已完成</span> 
 <span  class="tab">求助者:</span> {{topic.author.author_name}}
                    <span class="item-note ago" am-time-ago="topic.addtime" vam-preprocess="unix">
          </span>
                </p>
            </div>
        </div>
          <ion-infinite-scroll on-infinite="infinite()" distance="1%" ng-if="AskConfig.infinite" spinner="spiral" class="wg_spinner"></ion-infinite-scroll>
    </ion-content>
</ion-view>
