<ion-header-bar class="bar-positive">
    <a class="button icon-left ion-ios-arrow-left button-clear button-linght" ng-click="back()"></a>
    <h1 class="title">我的团队</h1>
</ion-header-bar>
<ion-view>
    <ion-content class="light-bg  has-footer" has-bouncing="true">
        <ion-refresher pulling-text="下拉刷新..." spinner="spiral" on-refresh="doRefresh()" class="wg_spinner"></ion-refresher>
<!--         <div class=" list">
            <div class="item" style="margin-top:15px;background-color:#fafafa" collection-repeat="team in TeamConfig.teams" ng-click="showFeedbackModal(team.id)">
                 <img ng-src="{{chat.face}}">
                <h2>{{team.teamName}}</h2>
                <p>{{team.addtime}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
        </div> -->
         <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" collection-repeat="team in TeamConfig.teams" type="item-text-wrap" ng-click="showFeedbackModal(team.id)">
                <img ng-src="{{chat.face}}">
                <h2>{{team.teamName}}</h2>
                <p>{{team.addtime}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
               
            </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="infinite()" distance="1%" ng-if="TeamConfig.infinite" spinner="spiral" class="wg_spinner"></ion-infinite-scroll>
    </ion-content>
</ion-view>
