<ion-view>
    <ion-content class="has-subheader" has-bouncing="true">
        <div class="list">
            <a class="item item-icon-left rank-icon" href="#">
                <i class="icon  myicon-medal-gold"></i>张三1
                 <span class="item-note positive"><i style="font-size:10px;color:#cccccc;">服务时长:</i>100小时</span>
            </a>
            <a class="item item-icon-left rank-icon " href="#">
                <i class="icon  myicon-medal-slver"></i>王五1
                 <span class="item-note positive"><i style="font-size:10px;color:#cccccc;">服务时长:</i>80小时</span>
            </a>
            <a class="item item-icon-left rank-icon" href="#">
                <i class="icon  myicon-medal-bronze"> </i>李四1
                 <span class="item-note positive"><i style="font-size:10px;color:#cccccc;">服务时长:</i>40小时</span>
            </a>
            <a class="item item-icon-left rank-icon" href="#">
                <i class="icon  ">4</i> 赵六1
                 <span class="item-note positive"><i style="font-size:10px;color:#cccccc;">服务时长:</i>30小时</span>
            </a>
            <a class="item item-icon-left rank-icon" href="#">
                <i class="icon  ">5</i> 赵六1
                 <span class="item-note positive"><i style="font-size:10px;color:#cccccc;">服务时长:</i>30小时</span>
            </a>
            <a class="item item-icon-left rank-icon" href="#">
                <i class="icon  ">6</i> 赵六1
                 <span class="item-note positive"><i style="font-size:10px;color:#cccccc;">服务时长:</i>30小时</span>
            </a>
            <a class="item item-icon-left rank-icon" href="#">
                <i class="icon  ">7</i> 赵六1
                 <span class="item-note positive"><i style="font-size:10px;color:#cccccc;">服务时长:</i>30小时</span>
            </a>
            <a class="item item-icon-left rank-icon" href="#">
                <i class="icon  ">8</i> 赵六1
                 <span class="item-note positive"><i style="font-size:10px;color:#cccccc;">服务时长:</i>30小时</span>
            </a>
            <a class="item item-icon-left rank-icon" href="#">
                <i class="icon  ">9</i> 赵六1
                 <span class="item-note positive"><i style="font-size:10px;color:#cccccc;">服务时长:</i>30小时</span>
            </a>
            <a class="item item-icon-left rank-icon" href="#">
                <i class="icon  ">10</i> 赵六1
                 <span class="item-note positive"><i style="font-size:10px;color:#cccccc;">服务时长:</i>30小时</span>
            </a>
            <a class="item item-icon-left rank-icon" href="#">
                <i class="icon  ">11</i> 赵六1
                 <span class="item-note positive"><i style="font-size:10px;color:#cccccc;">服务时长:</i>30小时</span>
            </a>
            <a class="item item-icon-left rank-icon" href="#">
                <i class="icon  ">12</i> 赵六1
                 <span class="item-note positive"><i style="font-size:10px;color:#cccccc;">服务时长:</i>30小时</span>
            </a>
            <a class="item item-icon-left rank-icon" href="#">
                <i class="icon  ">13</i> 赵六1
                 <span class="item-note positive"><i style="font-size:10px;color:#cccccc;">服务时长:</i>30小时</span>
            </a>
            <a class="item item-icon-left rank-icon" href="#">
                <i class="icon  ">14</i> 赵六1
                 <span class="item-note positive"><i style="font-size:10px;color:#cccccc;">服务时长:</i>30小时</span>
            </a>
            <a class="item item-icon-left rank-icon" href="#">
                <i class="icon  ">15</i> 赵六1
                 <span class="item-note positive"><i style="font-size:10px;color:#cccccc;">服务时长:</i>30小时</span>
            </a>
            <a class="item item-icon-left rank-icon" href="#">
                <i class="icon  ">16</i> 赵六1
                 <span class="item-note positive"><i style="font-size:10px;color:#cccccc;">服务时长:</i>30小时</span>
            </a>
            <a class="item item-icon-left rank-icon" href="#">
                <i class="icon  ">17</i> 赵六1
                 <span class="item-note positive"><i style="font-size:10px;color:#cccccc;">服务时长:</i>30小时</span>
            </a>
            <a class="item item-icon-left rank-icon" href="#">
                <i class="icon  ">18</i> 赵六1
                 <span class="item-note positive"><i style="font-size:10px;color:#cccccc;">服务时长:</i>30小时</span>
            </a>
            <a class="item item-icon-left rank-icon" href="#">
                <i class="icon  ">19</i> 赵六1
                 <span class="item-note positive"><i style="font-size:10px;color:#cccccc;">服务时长:</i>30小时</span>
            </a>
            <a class="item item-icon-left rank-icon" href="#">
                <i class="icon  ">20</i> 赵六1
                 <span class="item-note positive"><i style="font-size:10px;color:#cccccc;">服务时长:</i>30小时</span>
            </a>
        </div>
    </ion-content>
</ion-view>
