<ion-view view-title="注册">
    <ion-header-bar class="bar-dark">
        <div class="buttons">
            <button class=" button icon-left ion-ios-arrow-back button-clear" ui-sref="tab.login">登录</button>
        </div>
        <h1 class="title">注册</h1>
    </ion-header-bar>
    <ion-content>
        <form  name=reg>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">账号:</span>
                    <input type="text" ng-model="regData.username" placeholder="请输入账号" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">密码:</span>
                    <input type="password" ng-model="regData.password" placeholder="请输入密码" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">确认密码:</span>
                    <input type="password" ng-model="regData.confirmPassword" placeholder="请输入密码" required>
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-positive"  ng-click=doLogin() ng-disabled=reg.$invalid>立即注册</button>
            </div>
        </form>
    </ion-content>
</ion-view>
