<ion-view view-title="礼品店">
 <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
      求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助 求助与帮助
    </ion-content>
</ion-view>
