<ion-view view-title="个人设置">
    <ion-content class="stable-bg">
        <div class="list ">
            <a class="item item-avatar item-thumbnail-left item-icon-right wg-box-shadow " ng-click="login()" ng-if="!loginName">
                <img ng-src="img/commentfailure_logout.jpg" style="width:100%">
                <div class="row">
                    <div class="col">
                        <h2></h2>
                        <p ng-if="!processing">立即登录</p>
                        <p></p>
                    </div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-avatar item-thumbnail-left item-icon-right wg-box-shadow " ui-sref="tab.basicInfo" ng-if="loginName">
                <img ng-src="{{currentUser.avatar_url}}" style="width:100%">
                <div class="row">
                    <div class="col">
                        <h2 ng-bind="currentUser.loginname">-</h2>
                        <p>积分:{{currentUser.score}}</p>
                        <p>等级:5星</p>
                    </div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
        <div class="list ">
            <a class="item item-icon-left item-icon-right" ui-sref="tab.myGift">
                <i class="icon ion-ios-cart energized"></i>我的礼品
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ui-sref="tab.honorRanking.local">
                <i class="icon ion-podium calm"></i>荣誉排名
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-icon-left item-icon-right wg-box-shadow " ui-sref="tab.help">
                <i class="icon ion-heart assertive"></i>求助与帮助
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
        <div class="list ">
            <a class="item item-icon-left item-icon-right wg-box-shadow " ui-sref="tab.myTeam">
                <i class="icon ion-person-stalker calm"></i>我的团队
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
        <div class="list  wg-logoutBtn" ng-if="loginName">
            <button class="button button-block button-assertive" ng-click="logout()">
                退出
            </button>
        </div>
    </ion-content>
</ion-view>
