<ion-view title="网益公益">
   
    <ion-content>
        <script type="text/javascript">
        console.log('Topics-view');
        </script>
        <ion-refresher pulling-text="下拉刷新..." spinner="spiral" on-refresh="doRefresh()" class="wg_spinner">
        </ion-refresher>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" class="slidebox" auto-play="true" slide-interval="4000" does-continue="true" style="overflow: hidden;">
            <ion-slide>
                <div class="box blue">
                    <img ng-src="./img/wg_banner1.jpg" alt="微光公益" style="width:100%"></div>
            </ion-slide>
            <ion-slide>
                <div class="box yellow">
                    <img ng-src="./img/wg_banner2.jpg" alt="微光公益" style="width:100%"></div>
            </ion-slide>
            <ion-slide>
                <div class="box pink">
                    <img ng-src="./img/wg_banner3.jpg" alt="微光公益" style="width:100%"></div>
            </ion-slide>
        </ion-slide-box>
        <div class="padding">
            <button class="button button-block button-positive" ui-sref="tab.newtopic">
                发布求助
            </button>
        </div>
        <ion-list class="topics">
            <ion-item class="item-avatar" collection-repeat="topic in topics" href="#/tab/topics/{{topic.id}}" collection-item-width="'100%'" collection-item-height="65px">
                <img ng-src="{{topic.author.avatar_url}}">
                <!-- reset-img   -->
                <h2>{{topic.title}}</h2>
                <p class="summary">
                    <span ng-if="!topic.top && !topic.good" class="tab">{{topic.tab}}</span>
                    <span ng-if="topic.top" class="tab hl">置顶</span>
                    <span ng-if="topic.good && !topic.top" class="tab hl">精华</span> {{topic.author.loginname}}
                    <span class="item-note ago" am-time-ago="topic.last_reply_at">
          </span>
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
