<ion-view view-title="个人设置">
    <ion-content class="ion-content-background">
        <div class="list ">
            <a class="item item-avatar item-thumbnail-left item-icon-right wg-box-shadow " ui-sref="tab.basicInfo">
                <img src="http://wx.qlogo.cn/mmopen/elibOibaic0K7Picb0xFVTKsVkGPpzdmCB6MUc5YCWv8DjdIL3aAYw69psM1BBbQmspFOSUp00dR5mBQISKAD4FkxqjlhKUlsEFF/0" style="width:100%">
                <div class="row">
                    <div class="col">
                        <h2>oukeye</h2>
                        <p>积分:100</p>
                        <p>等级:5星</p>
                    </div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
        <div class="list ">
            <a class="item item-icon-left item-icon-right" ui-sref="tab.myGift">
                <i class="icon ion-ios-cart energized"></i>我的礼品
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ui-sref="tab.honorRanking">
                <i class="icon ion-podium calm"></i>荣誉排名
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-icon-left item-icon-right wg-box-shadow " ui-sref="tab.help">
                <i class="icon ion-heart assertive"></i>求助与帮助
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
        <div class="list ">
            <a class="item item-icon-left item-icon-right wg-box-shadow " ui-sref="tab.myTeam">
                <i class="icon ion-person-stalker calm"></i>我的团队
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
