<ion-view view-title="基本信息">
    <ion-content class="stable-bg">
        <div class="list ">
            <a class="item item-avatar-right text-midel" href="#">
                <img src="http://wx.qlogo.cn/mmopen/elibOibaic0K7Picb0xFVTKsVkGPpzdmCB6MUc5YCWv8DjdIL3aAYw69psM1BBbQmspFOSUp00dR5mBQISKAD4FkxqjlhKUlsEFF/0" style="width:100%"> 头像
            </a>
            <a class="item" ui-sref="tab.userName">
                名称<span class="item-note">oukey</span> 
            </a>
            <a class="item" ui-sref="tab.address">
                常住地址
            </a>
            <a class="item" ui-sref="tab.phone">
                电话<span class="item-note">13580530583</span>
            </a>
            <a class="item" ui-sref="tab.email">
                邮箱<span class="item-note">491238861@qq.com</span>
            </a>
            <a class="item" ui-sref="tab.expertise">
                擅长领域<span class="item-note">webapp开发</span>
            </a>
            <a class="item" ui-sref="tab.serviceSillingness">
                服务意愿<span class="item-note">很高</span>
            </a>
            <a class="item wg-box-shadow" ui-sref="tab.feedback">
                意见反馈<span class="item-note"></span>
            </a>
        </div>
        <div class="list ">
            <a class="item" ng-click="showActionsheet()">
                性别<span class="item-note" ng-bind="genter"></span> 
            </a>
            <a class="item" ui-sref="tab.area">
                地区<span class="item-note">广东广州</span>
            </a>
        </div>
    </ion-content>
</ion-view>
