<ion-view view-title="网益公益">
    <ion-content class="stable-bg">
        <div class="list ">
            <a class="item item-avatar item-thumbnail-left item-icon-right wg-box-shadow" ui-sref="tab.login" ng-if="!mideApp_user.username">
                <img ng-src="img/commentfailure_logout.jpg" style="width:100%">
                <p ng-if="!processing">立即登录</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-avatar item-thumbnail-left item-icon-right wg-box-shadow "  ng-if="mideApp_user.username">
                <img ng-src="{{mideApp_user.avatar_url}}" style="width:100%">
                <div class="row">
                    <div class="col">
                        <h2 ng-bind="mideApp_user.username">-</h2>
                        <p>积分:{{mideApp_user.score}}</p>
                        <p>等级:5星</p>
                    </div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">性别:</span>
                <input type="text" ng-model="mideApp_user.gender" placeholder="请选择性别" ng-click="showGendersheet()" readonly="readonly" class="light" style="background:#fff">
            </label>
            <label class="item item-input">
                <span class="input-label">生日日期:</span>
                <input type="text" ng-model="mideApp_user.birthday" placeholder="请选择日期" readonly="readonly" class="light" style="background:#fff">
            </label>
            <label class="item item-input">
                <span class="input-label">联系电话:</span>
                <input type="text" ng-model="mideApp_user.phoneNumber" placeholder="请输入电话号码" readonly="readonly" class="light" style="background:#fff">
            </label>
            <label class="item item-input">
                <span class="input-label">邮箱:</span>
                <input type="text" ng-model="mideApp_user.email" placeholder="请输入邮箱" readonly="readonly" class="light" style="background:#fff">
            </label>
            <label class="item item-input">
                <span class="input-label">QQ:</span>
                <input type="text" ng-model="mideApp_user.QQnumber" placeholder="请输入QQ号码" readonly="readonly" class="light" style="background:#fff">
            </label>
        </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">所属地区:</span>
                <input type="text" ng-model="mideApp_user.region" placeholder="请输入所属地区" readonly="readonly" class="light" style="background:#fff">
            </label>
            <label class="item item-input">
                <span class="input-label">身份证号:</span>
                <input type="text" ng-model="mideApp_user.identity " placeholder="请输入身份证号" readonly="readonly" class="light" style="background:#fff">
            </label>
            <label class="item item-input">
                <span class="input-label">常住地址:</span>
                <input type="password" ng-model="mideApp_user.address" placeholder="再输入常住地址" readonly="readonly" class="light" style="background:#fff">
            </label>
            <label class="item item-input">
                <span class="input-label">微信号码:</span>
                <input type="text" ng-model="mideApp_user.weixinNumber" placeholder="请输入微信号码" readonly="readonly" class="light" style="background:#fff">
            </label>
            <label class="item item-input">
                <span class="input-label">学历:</span>
                <input type="text" ng-model="mideApp_user.education" placeholder="请输入学历" readonly="readonly" class="light" style="background:#fff">
            </label>
            <label class="item item-input">
                <span class="input-label">专业:</span>
                <input type="text" ng-model="mideApp_user.profession" placeholder="请输入专业" readonly="readonly" class="light" style="background:#fff">
            </label>
            <label class="item item-input">
                <span class="input-label">特长:</span>
                <input type="text" ng-model="mideApp_user.speciality" placeholder="请输入特长" readonly="readonly" class="light" style="background:#fff">
            </label>
            <label class="item item-input">
                <span class="input-label">选择服务意愿:</span>
                <input type="text" ng-model="mideApp_user.intention" placeholder="选择服务意愿" readonly="readonly" class="light" style="background:#fff">
            </label>
            <label class="item item-input">
                <span class="input-label">选择服务时间:</span>
                <input type="text" ng-model="mideApp_user.intentionTime" placeholder="选择服务时间" readonly="readonly" class="light" style="background:#fff">
            </label>
        </div>
        <div class="list  wg-logoutBtn padding" ng-if="mideApp_user.username">
            <button class="button button-block button-outline button-positive" ng-click="logout()">
                退出登录
            </button>
        </div>
    </ion-content>
</ion-view>
