<ion-view view-title="微光公益">
    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class=" button icon-left ion-ios-arrow-back button-clear" ui-sref="tab.topics">返回</button>
        </div>
        <h1 class="title">{{user.pic}}</h1>
        <div class="buttons">
            <button class="button button-clear" ui-sref="tab.reg">帮助他</button>
        </div>
    </ion-header-bar>
    <ion-content has-bouncing="true" scroll="true" overflow-scroll='true'>
        <div class="list card">
            <div class="item item-avatar">
                <img src="./img/userImages/7659710.jpg">
                <h2>公益人士</h2>
                <p>发布时间:2015-08-08</p>
            </div>
            <div class="item item-body">
                <p>
                    照顾小孩一天，妈妈住院处理其他事情，谢谢大家的帮忙。公益活动大家做。
                </p>
                <img class="full-image" src="./img/topicsImg/1.jpg">
                <img class="full-image" src="./img/topicsImg/2.jpg">
                <img class="full-image" src="./img/topicsImg/3.jpg">
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i> Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i> Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i> Share
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
