<ion-view title="网益公益">
    <!--   <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-back" ng-click="back()">返回</button>
  </ion-nav-buttons> -->
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-ios-arrow-back" ng-click="back()"></button>
    </ion-nav-buttons>
    <ion-content has-bouncing="true" padding="false" class="has-header no-footer" delegate-handle="mainScroll">
        <div class="list card">
            <div class="item item-avatar">
                <img src="./img/userImages/7659710.jpg">
                <h2>公益人士</h2>
                <p>发布时间:2015-08-08</p>
            </div>
            <div class="item item-body">
                <p>
                    照顾小孩一天，妈妈住院处理其他事情，谢谢大家的帮忙。公益活动大家做。
                </p>
                <p>
                    照顾小孩一天，妈妈住院处理其他事情，谢谢大家的帮忙。公益活动大家做。
                </p>
                <p>
                    照顾小孩一天，妈妈住院处理其他事情，谢谢大家的帮忙。公益活动大家做。
                </p>
                <p>
                    照顾小孩一天，妈妈住院处理其他事情，谢谢大家的帮忙。公益活动大家做。
                </p>
                <img class="full-image" src="./img/topicsImg/1.jpg">
                <img class="full-image" src="./img/topicsImg/2.jpg">
                <img class="full-image" src="./img/topicsImg/3.jpg">
                <img class="full-image" src="./img/topicsImg/1.jpg">
                <img class="full-image" src="./img/topicsImg/2.jpg">
                <img class="full-image" src="./img/topicsImg/3.jpg">
                <img class="full-image" src="./img/topicsImg/1.jpg">
                <img class="full-image" src="./img/topicsImg/2.jpg">
                <img class="full-image" src="./img/topicsImg/3.jpg">
                <img class="full-image" src="./img/topicsImg/1.jpg">
                <img class="full-image" src="./img/topicsImg/2.jpg">
                <img class="full-image" src="./img/topicsImg/3.jpg">
                <img class="full-image" src="./img/topicsImg/1.jpg">
                <img class="full-image" src="./img/topicsImg/2.jpg">
                <img class="full-image" src="./img/topicsImg/3.jpg">
                <img class="full-image" src="./img/topicsImg/1.jpg">
                <img class="full-image" src="./img/topicsImg/2.jpg">
                <img class="full-image" src="./img/topicsImg/3.jpg">
                <p>
                    照顾小孩一天，妈妈住院处理其他事情，谢谢大家的帮忙。公益活动大家做。
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i> Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i> Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i> Share
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
