<ion-view view-title="更改名称">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button class="button-clear">返回</ion-nav-back-button>
       
        <ion-nav-buttons side="primary">
            <button class="button button-balanced" ng-click="doSomething()">
                保存
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="ion-content-background">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="名称">
            </label>
        </div>
    </ion-content>
</ion-view>
